# Godot 4.x metadata
.godot/

# Hidden folders - ignore all
.*/
# Godot 3.x mono metadata (for completeness)
.mono/

# C# / .NET Specific
[Bb]in/
[Oo]bj/
*.csproj.user
*.sln.docstates
*.user
*.userosscache
*.suo

# JetBrains IDEs
.idea/
*.sln.DotSettings.user

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Export/Build Folders
/export/
/build/

# Mobile specific
/android/

# Crash dumps
mono_crash.*
